/*css reset*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    background: url(pictures/background.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    margin-bottom: 50px;
}
.container img{
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 50px;
}
.box{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}
.box a{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: #25373d00;
}

#box-1{
    background: url(pictures/soguk-icecekler-background.jpg);
}
#box-2{
    background: url(pictures/sıcak-icecekler-background.webp);
}
#box-3{
    background: url(pictures/tatlılar-background.webp);
}